<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geração de Prompts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Geração de Prompts</h1>

    <!-- Dropdowns para selecionar informações -->
    <label for="tipo-formulario">Escolha o tipo de geração:</label>
    <select id="tipo-formulario" onchange="updateOptions(this.value)">
        {% for opcao in opcoes_formulario.opcoes_tipo_formulario %}
            <option value="{{ opcao }}">{{ opcao }}</option>
        {% endfor %}
    </select>

    <input type="hidden" id="opcoes-formulario" value="{{ opcoes_formulario }}">

    <select id="opcao-tipo-formulario">
    </select>

    <!-- Botão para confirmar a escolha -->
    <button id="confirmar-btn">Confirmar</button>

    <!-- Container para o formulário dinâmico -->
    <div id="formulario-container">
        {% block formulario %}{% endblock %}
    </div>

    <div class="texto-com-quebras" id="resposta-container"></div>

    <!-- Inclua o script.js -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
